.clock {
    font-family: sans-serif;
    background: #333;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.clock-time, .clock-ampm {
    font-size: 3rem;
    color: #eeeeee;
}

.datelocation {
    color: #eee;
    margin: 0 auto;
}

.clock-time {
    font-size: 4rem;
}